<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSCB525_transport_company</title>
    <link rel="stylesheet" href="reset.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
<nav class="navbar bg-body-tertiary mb-5">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">CSCB525 Transport Company</a>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Shipments</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<main>
    <div class="card text-center w-75 mx-auto">
        <!-- Card Header with Navigation Pills -->
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#createCompany">Create Company</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#viewCompanies">View Companies</a>
                </li>
            </ul>
        </div>
        <div class="card-body" id="createCompany">
            <div class="card-body w-75 mx-auto text-center">
                <h5 class="card-title">Insert Name and Income</h5>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default1">Name</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default" id="companyName">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Income</span>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-default" id="companyIncome">
                </div>
                <div class="buttonSubmit w-50 d-flex justify-content-center mx-auto">
                    <button type="button" class="btn btn-primary" id="submitButton">Submit Company</button>
                </div>
            </div>
        </div>
        <div class="card-body" id="viewCompanies">
            <div class="buttonSubmit w-50 d-flex justify-content-center mx-auto">
                <button type="button" class="btn btn-primary" id="loadCompanies">Load Companies</button>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const navLinks = document.querySelectorAll('.nav-link');
        const createSection = document.getElementById('createCompany');
        const viewSection = document.getElementById('viewCompanies');

        navLinks.forEach(link => {
            link.addEventListener('click', function (e) {
                e.preventDefault();

                // Determine which link was clicked
                if (this.getAttribute('href') === '#createCompany') {
                    createSection.classList.remove('d-none');
                    viewSection.classList.add('d-none');
                } else if (this.getAttribute('href') === '#viewCompanies') {
                    viewSection.classList.remove('d-none');
                    createSection.classList.add('d-none');
                }
            });
        });
    });

    document.getElementById('submitButton').addEventListener('click', function () {

        const name = document.getElementById('companyName').value;
        const income = document.getElementById('companyIncome').value;

        // Create data object
        const data = {
            name: name,
            income: income
        };


        fetch('http://localhost:8082/api/v1/logistics-companies', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    });

    document.getElementById('loadCompanies').addEventListener('click', function() {
        fetch('http://localhost:8082/api/v1/logistics-companies')
            .then(response => response.json())
            .then(data => {
                console.log(data);
                const viewCompanies = document.getElementById('viewCompanies');
                const table = document.createElement('table');
                table.classList.add('table');
                const thead = document.createElement('thead');
                const tbody = document.createElement('tbody');
                const tr = document.createElement('tr');
                const th1 = document.createElement('th');
                const th2 = document.createElement('th');
                const th3 = document.createElement('th');
                th1.setAttribute('scope', 'col');
                th2.setAttribute('scope', 'col');
                th3.setAttribute('scope', 'col');
                th1.innerText = 'ID';
                th2.innerText = 'Name';
                th3.innerText = 'Income';
                tr.appendChild(th1);
                tr.appendChild(th2);
                tr.appendChild(th3);
                thead.appendChild(tr);
                table.appendChild(thead);
                data.forEach(company => {
                    const tr = document.createElement('tr');
                    const td1 = document.createElement('td');
                    const td2 = document.createElement('td');
                    const td3 = document.createElement('td');
                    td1.innerText = company.id;
                    td2.innerText = company.name;
                    td3.innerText = company.income;
                    tr.appendChild(td1);
                    tr.appendChild(td2);
                    tr.appendChild(td3);
                    tbody.appendChild(tr);
                });
                table.appendChild(tbody);
                viewCompanies.appendChild(table);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    } )
</script>
</body>

</html>